<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>On-call Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/oncall.css">
    <script src="/static/js/vendor/jquery-lite.js"></script>
</head>
<body class="login-body">
    <main class="login-page">
        {% include "pages/login.html" %}
    </main>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/pages/login.js"></script>
</body>
</html>
